<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankSystem1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BankSystem1.Properties.Settings>
            <setting name="title" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="accno" serializeAs="String">
                <value />
            </setting>
            <setting name="balance" serializeAs="String">
                <value />
            </setting>
            <setting name="docdes" serializeAs="String">
                <value />
            </setting>
            <setting name="otherdes" serializeAs="String">
                <value />
            </setting>
            <setting name="time" serializeAs="String">
                <value />
            </setting>
            <setting name="amount" serializeAs="String">
                <value />
            </setting>
            <setting name="tellerName" serializeAs="String">
                <value />
            </setting>
            <setting name="tellerID" serializeAs="String">
                <value />
            </setting>
        </BankSystem1.Properties.Settings>
    </userSettings>
</configuration>